
Parking.Console/App.config
Parking.Core/App.config
Parking.Web/Web.config
.vs/Parking/v16/.suo
.vs/Parking/config/applicationhost.config
Parking.Console/App.config
Parking.Console/obj/Debug/Parking.Console.csprojAssemblyReference.cache
Parking.Core/bin/Debug/Parking.Core.dll
Parking.Core/bin/Debug/Parking.Core.dll.config
Parking.Core/bin/Debug/Parking.Core.pdb
Parking.Core/obj/Debug/Parking.Core.csproj.CoreCompileInputs.cache
Parking.Core/obj/Debug/Parking.Core.csproj.FileListAbsolute.txt
Parking.Core/obj/Debug/Parking.Core.csprojAssemblyReference.cache
Parking.Core/obj/Debug/Parking.Core.dll
Parking.Core/obj/Debug/Parking.Core.pdb
Parking.Web/bin/Parking.Core.dll
Parking.Web/bin/Parking.Core.dll.config
Parking.Web/bin/Parking.Core.pdb
Parking.Web/bin/Parking.Web.dll
Parking.Web/bin/Parking.Web.dll.config
Parking.Web/bin/Parking.Web.pdb
Parking.Web/obj/Debug/Parking.Web.csproj.CoreCompileInputs.cache
Parking.Web/obj/Debug/Parking.Web.csproj.FileListAbsolute.txt
Parking.Web/obj/Debug/Parking.Web.csprojAssemblyReference.cache
Parking.Web/obj/Debug/Parking.Web.dll
Parking.Web/obj/Debug/Parking.Web.pdb
Parking.Web/Web.config
